.classpath
.*~
.repo/
co.sh
docs/
Makefile
abi/
art/
bionic/
bootable/
build/
cts/
dalvik/
developers/
development/
device/
external/
libcore/
libnativehelper/
ndk/
out/
pdk/
prebuilts/
sdk/
tools/
platform_testing/
projectFilesBackup/
res/
gen/
